@import "../../styles/vars.css";

.widget {
  background-color: var(--color-secondary);
  padding: 1.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.widgetTitle {
  padding-bottom: 1rem;
  text-align: center;
}

.widgetContent {
  align-items: center;
}
