@import "tailwindcss";
@import "./vars.css";

#root {
  max-width: 1280px;
  font-family: "Roboto";
  color: var(--color-bg);
}

h2 {
  font-size: var(--font-3xl);
}

h3 {
  font-size: var(--font-2xl);
}

h4 {
  font-size: var(--font-xl);
}

h5 {
  font-size: var(--font-lg);
}
