@import "tailwindcss";
@import "./vars.css";

#root {
  font-family: "Roboto";
  color: var(--color-bg);
}

h2 {
  font-size: var(--font-3xl);
}

h3 {
  font-size: var(--font-2xl);
}

h4 {
  font-size: var(--font-xl);
}

h5 {
  font-size: var(--font-lg);
}

@media (min-width: 1550px) {
  h2 {
    font-size: var(--font-5xl);
  }

  h3 {
    font-size: var(--font-4xl);
  }

  h4 {
    font-size: var(--font-3xl);
  }

  h5 {
    font-size: var(--font-2xl);
  }
}
