:root {
  --color-primary: #00536f;
  --color-secondary: #57c0d2;
  --color-opposite: #f19225;
  --color-bg: #ffffff;

  --font-xs: 12px;
  --font-sm: 14px;
  --font-base: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 22px;
  --font-3xl: 24px;
}
