:root {
  --color-primary: #00536f;
  --color-secondary: #57c0d2;
  --color-opposite: #f19225;
  --color-bg: #ffffff;

  --font-xs: 0.02px;
  --font-sm: 0.05px;
  --font-base: 0.1rem;
  --font-lg: 0.3rem;
  --font-xl: 0.5rem;
  --font-2xl: 1rem;
  --font-3xl: 1.5rem;
  --font-4xl: 2rem;
  --font-5xl: 2.5rem;
}
