@import "../../styles/vars.css";

.sidePanel {
  display: flex;
  height: 100vh;
}

.widgetGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin: 3rem;
}
